{% extends 'base.html' %}


{% block content %}
{% load staticfiles %}


	<div class="content">
		<h1>О НАС</h1>
		<p>Предприятие "Мясной Смак" берёт начало своего существования в городе Новоалтайске в 2006 году. В самом начале это был небольшой магазинчик по продаже свежего мяса и маринованного шашлыка. Затем, после нескольких лет успешного существования на рынке был открыт полноценный цех по производству полуфабрикатов. На данный момент предприятие включает в себя цех по производству различной мясной продукции и два фирменных магазина.</p>

        <p><img src="{% static 'image/about1.jpg' %}" width="70%"></p>
        <p><img src="{% static 'image/about2.jpg' %}" width="70%"></p>

		<p>А также на территории магазина находящегося по адресу г. Новоалтайск, ул. Октябрьская, 56 работает мини-кафе.</p>

        <p><img src="{% static 'image/about3.jpg' %}" width="70%"></p>
        <p><img src="{% static 'image/about4.jpg' %}" width="70%"></p>
		<p>Основной принцип нашего предприятия - это производство экологически чистой и качественной продукции для наших покупателей.</p>

		<p>Поставка мясного сырья осуществляется с убойных предприятий Алтайского Края и Республики Алтай.</p>

		<p>Производство нашей продукции осуществляется на современном и технологичном оборудованнии.</p>

		<p>Предприятие выпускает более 150 видов продукции из свинины, говядины и мяса птицы. Ассортимент включает в себя большое количество крупнокусковых, панированных, рубленных, фаршированных полуфабрикатов, копчёностей. </p>

	</div>
{% endblock %}