{% extends 'base.html' %}


{% block content %}
{% load staticfiles %}


	<div class="content">
		<h1>О КОМПАНИИ</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu metus scelerisque mi vulputate ullamcorper. Etiam convallis ipsum eu ultricies viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque fringilla elementum lacinia. Pellentesque accumsan facilisis leo, imperdiet tincidunt velit. Aenean mi quam, rhoncus facilisis elit vel, bibendum iaculis urna. Sed ultrices nisl vitae sollicitudin bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum nec quam quis est maximus tincidunt. Integer et placerat tellus.</p>

		<p>Proin in ullamcorper dui, eu dictum leo. Maecenas eu interdum nisl. Cras imperdiet orci libero, non mattis sapien gravida et. Nullam mi diam, sagittis imperdiet tempor eget, lacinia faucibus dui. Sed pharetra congue elit ut tristique. Pellentesque sit amet venenatis nisl, non fermentum ex. Cras a lacus est. Duis sed lacinia quam. Vestibulum fringilla urna nec libero dignissim volutpat. Vestibulum pulvinar dui a feugiat scelerisque. Sed sed turpis eros.</p>
	</div>
{% endblock %}