{% extends 'base.html' %}


{% block content %}
{% load staticfiles %}


	<div class="content">
	
		<div class="contacts"></div>
			<h1>КОНТАКТЫ</h1>
			<p style="font-size: 15pt;">Телефон <strong>8-800-900-9090</strong></p>
			
			<p style="font-size: 17pt;">Адреса магазинов</p>
			<p style="font-size: 15pt;">г.Новоалтайск <strong>ул.Октябрьская 56</strong></p>
			<p><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3e713c73d06e41940a5cb10f43a547410bf8ea2118629b3accff0aadec8c0e21&amp;width=800&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script></p>
			<p style="font-size: 15pt;">г.Новоалтайск<strong> ул.Прудская 7а</strong></p>
			<p><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3e713c73d06e41940a5cb10f43a547410bf8ea2118629b3accff0aadec8c0e21&amp;width=800&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script></p>
		</div>

	</div>
{% endblock %}