{% extends 'base.html' %}




{% block content %}
{% load staticfiles %}


	<div class="content">
		<style type="text/css">
			.services{
				width:80%;
				text-align:center;
				margin:25px auto;
				float: center;

			}

			.services tr td{padding:0 50px}


			.circle{
				width:170px;
				height:170px;
				background-size:cover;
				margin:auto;
				padding:0;
				-webkit-border-radius:100px;
				border-radius:100px
				}

			.services tr td div{
				padding:20px 0;
				font-size:18px}

			.services tr a{
				font-size:14px;
				color:#FECB30;
				text-decoration:underline;
			}

			.services tr a:hover {
	    		text-decoration: none;
	   		}

		</style>

		<h1 style="text-align: center;">НАША ПРОДУКЦИЯ</h1>

		<table class="services">
		<tr>
	      <td>
	        <a href="{% url 'list_product' idtype=1 %}"><div class="circle" style="background:url({% static 'image/index2.jpg' %}) center center; background-size: 150%;"></div></a>
	      </td>
	       <td>
	        <a href="{% url 'list_product' idtype=3 %}"><div class="circle" style="background:url({% static 'image/index6.jpg' %}) center center; background-size: 170%;"></div></a>
	      </td>

	      <td>
	        <a href="{% url 'list_product' idtype=5 %}"><div class="circle" style="background:url({% static 'image/index5.jpg' %}) center center;"></div></a>
	      </td>
	    </tr>
	    <tr>
		      <td>
		        <a href="{% url 'list_product' idtype=1 %}"><div>Свинина</div></a>
		      </td>

		      <td>
		        <a href="{% url 'list_product' idtype=3 %}"><div>Шашлык</div></a>
		      </td>

		      <td>
		        <a href="{% url 'list_product' idtype=5 %}"><div>Полуфабрикаты</div></a>
		      </td>
	    </tr>
		</table>
 	    <table class="services">
	    <tr>
	    <td>
	        <a href="{% url 'list_product' idtype=2 %}"><div class="circle" style="background:url({% static 'image/index3.jpg' %}) center center"></div></a>
	     </td>
	     <td>
	        <a href="{% url 'list_product' idtype=4 %}"><div class="circle" style="background:url({% static 'image/index4.jpg' %}) center center;"></div></a>
	      </td>
	      <td>
	        <a href="{% url 'list_product' idtype=8 %}"><div class="circle" style="background:url({% static 'image/index7.jpg' %}) center center;   background-size: 160%;"></div></a>
	      </td>
	     </tr>
	     <tr>
	     <td>
		        <a href="{% url 'list_product' idtype=2 %}"><div>Говядина</div></a>
		      </td>
	     <td>
		        <a href="{% url 'list_product' idtype=4 %}"><div>Птица</div></a>
		      </td>
		  <td>
		        <a href="{% url 'list_product' idtype=8 %}"><div>Субпродукты</div></a>
		      </td>

	     </tr>
		</table>
		<br>
		<p><a href="{% url 'price_list' %}" style="text-decoration: none; color:#fff; border:4px solid #fff; padding: 10px;"><span class="glyphicon glyphicon-download"></span> Скачать полный прайс</a></p>
	</div>
{% endblock %}