{% extends 'base.html' %}


{% block content %}
{% load staticfiles %}


	<div class="content">
		<h1>ОТЗЫВЫ О НАС</h1>
		<div style="text-align: center; margin-bottom: 10px; padding-top: 10px; height: 50px; width: 30%; font-size: 15pt; border: 1px solid #fff; background-color: #000;"><a href="{% url 'add_review' %}" style=" color:#fff; text-decoration: none;"> <span class="glyphicon glyphicon-plus"></span> Добавить свой отзыв</a></div>
		{% for r in reviews %}
			<div class="review">
				<strong>{{r.author}}</strong>
				<br>{{r.date}}
				<p>{{r.text}}</p>
			</div>

		{% endfor %}	


	</div>
{% endblock %}