body{
	background-color: #302D32;
	font-family:'Roboto Condensed',sans-serif;color:#FFFFFF;font-size:19px;
}

h1{
	font-size: 32pt;
	font-weight: bold;
}



h2{
	font-size: 25pt;
	text-decoration: underline;
}


.round{
    border-radius: 20000px; /* Радиус скругления */
    border: 3px solid grey; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
    width: 180px;
    height: 180px;
}

.firstheader{
	background-color: #000000;
	min-height:100px;
	min-width:1000px;
	margin:0 0 0px;
}

.firstheader a {
	color: #fff;
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   } 

.firstheader a:hover { 
    text-decoration: none; /* Добавляем подчеркивание при наведении курсора на ссылку */
   } 

.firstheader li{
	list-style-type:none;
}

.firstheader nav{
	height:90px;
	background:#000;
	width:100%}
.firstheader nav>ul{
	margin:0 auto;
	width:100%;
	height:px;
	text-align:center}
.firstheader nav>ul>li{
	display:inline-block;
	position:relative}

.firstheader nav>ul>li>a{
	font-family:'Roboto Condensed',sans-serif;color:#fff;
	font-size:19px;
	display:inline-block;
	padding:36px 10px;
	text-decoration:none;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease
}

.firstheader nav ul li:hover>a,.firstheader nav ul li a:hover{
	color:#000;
	background:#fff
}

.firstheader nav>ul ul{
	display:none;
	position:absolute;
	top:98px;
	left:0;
	background:#000;
	z-index:999;
	border:1px solid #fff;
	width: 200px;
}

.firstheader nav>ul li{
	position:relative
	}
.firstheader nav ul li:hover>ul{
	display:block
	}
.firstheader nav>ul ul a{
	display:block;
	color:#fff;
	font-size:17px;
	padding:10px 10px 10px 0;
	width: 200px;
	text-decoration:none;
	border-bottom:1px solid #fff
}

.firstheader nav>ul ul li{
	left: -40px;
}

.firstheader nav>ul ul li:last-child a{
	border-bottom:0
}

.menu_2{
	border-left: 1px solid #fff;
}

.header_info{
	width:100%;
	min-height:460px;
	position:relative
	}
.header_info:before{
	position:absolute;
	top:0;
	bottom:0;
	width:45%;
	left:0;
	z-index:1;
	background: linear-gradient(135deg, #BD9E2A, #F7C72E);
	background-size:cover;content:'';
	display:block}
.header_info:after{
	position:absolute;
	top:0;
	bottom:0;
	width:55%;
	right:0;
	z-index:2;
	background-size:cover;
	content:'';display:block}
.header_info>div{
	position:relative;
	margin:auto;
	width:1000px;
	z-index:3;
	padding:0 0 20px}
.header_logo{
	color: #000000;
	font-family:'Roboto Condensed',sans-serif;
	padding:30px 0 30px 20px;text-transform:uppercase;font-weight:700;width:354px}
.header_logo p{
	font-size:58px;
	line-height:60px;
	margin:0 0 10px}
.header_logo span{
	font-size:18px;
	display:block}
.header_desc{
	background:#fff;
	padding:20px;
	color:#000;
	width:345px}
.header_desc>div:last-child{
	margin:0}
.header_adress,.header_phone,.header_mail{
	padding:2px 0 2px 30px;
	margin:0 0 20px}
.header_adress{
	font-size:15px;
	background:url(img/ico_adress.png) no-repeat left center}
.header_phone{
	font-size:20px;
	line-height:20px;
	background:url(img/ico_phone.png) no-repeat left center}
.header_mail{
	font-size:15px;
	background:url(img/ico_mail.png) no-repeat left center}
.header_mail a{
	color:#000}

.leftbar{
	width:250px;
	min-height:100px;
	position:relative;
	vertical-align:top;
	float:left;
	margin:20px 0 20px 20px;
	background-color: #4A494B;
	padding: 20px 0 0 0;
}


.leftbar a{
	display:block;
	color:#fff;
	font-size:14pt;
	padding:5px;
	width:100%;
	text-decoration:none;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}

.leftbar li{
	list-style-type: none;
}

.leftbar ul li:hover>a,.leftbar ul li a:hover{
	color:#000;
	background:#fff
}



.content{
	width:800px;
	min-height:100px;
	display:table-cell;
	position:relative;
	float:right;
	margin: 3px 10% 50px 2%;
}

.content p{
	font-size: 13pt;
}

.content a{
	font-size: 16pt;
}

.content a:hover{
	text-decoration: none;
}



.news{
	font-size: 13pt;
	margin-bottom: 10px;
}

.news a{
	text-decoration: underline;
	font-size: 16pt;
	color:#fff;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease
}

.news a:hover{
	font-size: 17pt;
	color: #E7E7E7;
}

.news_detail{
	font-size: 13pt;
}

.news_detail p{
	font-size: 15pt;
}


.product{

	margin-right:25px;
	width: 46%;
	height: 270px;
	color: #fff;
	position: center;
	text-align: center;
	float: left;
}

.product a{
	color: #fff;
}

.product a:hover{
	text-decoration: none;
}

.product img {
	box-shadow: 0px 1px 49px 4px #000000;
	width:70%; 
	height: 210px; 
 
	margin-bottom: 7px;
   }